
extends ../layout/index.pug

block content
    .container-fluid
        .row
            .col-12.p-0
                - if(vars.page.slides)
                    .swiper-container.products-top-swiper
                        .swiper-wrapper
                            - for(var i = 0; i < vars.page.slides.length - 1; i++)
                                .swiper-slide(class="slide-" + i, style="background: " + vars.page.slides[i].background)
                                    .container-fluid.swiper-slide-bg-image( style="background-position:"+ vars.page.slides[i].image.position+";" + "background-fimage: url("+vars.page.slides[i].image.src+")")
                                        .row
                                            .col-8.p-lg-5.p-md-3.p-2
                                                .py-5
                                                .py-5
                                            
                                    
        .row
            .col-lg-3.p-0.filter-side
                ='filter'
            .col-lg-9.p-0.products-side
                .container-fluid
                    .row
                        - for(var i = 0; i < 3; i++)
                            .col-lg-4.col-md-6.p-0.col-12
                                button.item.d-block.w-100.h-100.p-4.border.d-flex.flex-column.justify-content-between
                                    .item-image-wrap.px-3
                                        .item-image(style=`background-image: url(${'https://www.freepngimg.com/thumb/shoes/3-2-shoes-transparent-thumb.png'})`)
                                            img(src="/ideal-100.png").w-100.invisible
                                    .item-info
                                        .item-title.font-weight-bold.text-capitalize.text-dark.py-1
                                            = "FXT13"
                                        .small.item-description.text-muted.text-capitalize
                                            = "brand new shoes"
