include ./head.pug


include ./header.pug

#content.p-2
    .container
        .row
            .col-12#content-col.p-0
                block content
                
include ./mixins.pug
        
include ./footer.pug

include ./foot.pug
