
doctype html
html
  head
    title My Site
    link(rel="stylesheet", href="/stylesheets/grid.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container
      .row 
        .col-12
          h1= 'hello world'
